header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    background-color: #303240;
    padding:16px 84px;
    letter-spacing: 0;
    color: #FFFFFF;
}
