.breadcrumbs {
  background: #ffffff;
  height: 64px;
  padding: 20px 84px;
  color: #464a5a;
  font-size: 14px;


  &-divider{
    color:blue;
  }
  & span:last-child{
    font-weight: 700;
    font-family: "SourceSansPro-Bold";

  }
}

