button{
  border-radius: 3px;
  border: none;
  padding: 11px 23px;
}

.grey-button {
  background: #e1e3eb;
  color: #a8a9b4;
}

.green-button {
  background: #67a300;
  color: #fff;
}
