.add-course-btn {
  margin-left:83%;
  border-radius: 3px;
  border: 1px solid #009ecc;
  background: #009ecc;
  height: 36px;
  width: 111px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #ffffff;
  font-size: 14px;
  font-family: "SourceSansPro-Semibold";
  font-weight: 600;
}
